{{define "ROOT"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {{template "HEAD" $}}
    </head>
    <body>
        <div id="root">
            <div id="header">
                <h1 class="elos layout">elos</h1>
                {{template "Header" $}}
            </div>
            <div id="content">
                {{template "Content" $}}
            </div>
            <div id="footer">
                {{template "Footer" $}}
            </div>
        </div>

        <!--
        <div id="altroot" style="display:none">
            {{ template "BadBrowser" }}
            <script type="text/javascript">
                window.isChrome = !!window.chrome && !isOpera;
                if (!window.isChrome) {
                    var root = document.getElementById("root");
                    root.setAttribute("style", "display: none;");
                    var altroot = document.getElementById("altroot");
                    altroot.setAttribute("style", "");
                }
            </script>
        </div>
        -->
    </body>
</html>
{{end}}

{{define "BadBrowser"}}
    <div style="position: absolute; top:0; left:0; width:100%; height:100%;background:#EDEDED">
        <h1 class="elos" style="width:100%;text-align:center;margin-top:10px;">elos</h1>
        <div class="card" style="width:30%;margin:auto;margin-top:20%;">
        <p style="font-family: Avenir Next Regular;text-align:center;">
            Elos requires chrome. Our apologies.
        </p>
        </div>
    </div>
{{end}}
