{{define "HEAD"}} {{end}}

{{define "Header"}} {{end}}

{{define "Content"}}
<form action="/register" method="post">
    Name:<br>
    <input type="text" name="name">
    <br>
    Phone:<br>
    <input type="tel" name="phone">
    <br><br>
    <input type="submit" value="LETS GO">
</form>
{{end}}

{{define "Footer"}} {{end}}
